﻿<!DOCTYPE html>
<html lang="en" class="after-survey-body">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anket Sonrası</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />

    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-xs-12 text-center bottomaligned">
            @using (Html.BeginForm("FourthPage", "Survey"))
            {
                <input type="submit" value="Sonraki Sayfa" class="btn btn-default" style="margin-bottom: 50px;" />
            }
        </div>
    </div>
</body>
</html>