﻿@model JWAnket.Models.SurveyModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />

    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body class="fifth-page-body">
    @using (Html.BeginForm("SixthPage", "Survey"))
    {
        <div class="col-xs-12 text-center topalignedmentoring">
            <div class="row">
                <div>
                    @Html.TextBoxFor(m => Model.NameSurname, new { @placeholder = "İsim Soyisim" })
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.TextBoxFor(m => Model.Phone, new { @placeholder = "Telefon" })
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.TextBoxFor(m => Model.EMail, new { @placeholder = "E-Mail" })
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <input type="submit" value="Sonraki Sayfa" class="btn btn-default" style="margin-bottom: 50px;" />
            </div>
        </div>
    }
</body>
</html>