﻿@model JWAnket.Models.SurveyModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/validatecheckbox.js"></script>
</head>
<body class="second-page-body">
    @using (Html.BeginForm("ThirdPage", "Survey", FormMethod.Post, new { surveyModel = Model }))
    {
        <div class="col-xs-12 text-center topaligned">
            <span id="validationMessage" style="color: white"></span>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div class="cover" style="margin: 0 auto; height: 196px; border: solid 2px #9a9a9a; overflow-y: scroll;">
                        <table style="width: 100%">
                            @for (int i = 0; i < Model.ReasonList.Count; i++)
                            {
                                <tr>
                                    <td class="fontyellow">@Html.LabelFor(m => Model.ReasonList[i].IsSelected, @Model.ReasonList[i].Name)</td>
                                    <td></td>
                                    <td>
                                        @Html.HiddenFor(m => Model.ReasonList[i].Id)
                                        @Html.HiddenFor(m => Model.ReasonList[i].Name)
                                        @Html.CheckBoxFor(m => Model.ReasonList[i].IsSelected)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="col-xs-2"></div>
            </div>
            <div class="row">
                <div>
                    @Html.TextAreaFor(m => Model.OtherReasonText, new { @placeholder = "Diğer" })
                </div>
                <div>
                    <input type="submit" onclick="return submitWith();" value="Sonraki Sayfa" class="btn btn-default" style="margin-bottom: 50px;" />
                </div>
            </div>
        </div>
    }
</body>
</html>