﻿@model JWAnket.Models.SurveyModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />

    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body class="sixth-page-body">
    @using (Html.BeginForm("FinalPage", "Survey"))
    {
        <div class="col-xs-12 text-center topalignedfifthpage">
            <div class="row">
                <div>
                    @Html.TextAreaFor(m => Model.Comments, new { @placeholder = "Yorum" })
                </div>
                <div>
                    <input type="submit" value="Anketi Bitir" class="btn btn-default" style="margin-bottom: 50px;" />
                </div>
            </div>
        </div>
    }
</body>
</html>