﻿.bottomaligned {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    left: 0;
}

.topaligned {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 30%;
}

.topalignedfifthpage {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 40%;
}

.topalignedmentoring {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 50%;
}

.topalignedmentoring2 {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 60%;
}

.topalignedfifthpagebutton {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 70%;
}

input {
    margin-top: 6px;
}

textarea {
    margin-top: 6px;
}

.fontyellow {
    color: #ddb11c;
}

.begin-survey-body {
    background: url(/Content/1.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.before-survey-body {
    background: url(/Content/before.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.after-survey-body {
    background: url(/Content/after.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.first-page-body {
    background: url(/Content/2.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.second-page-body {
    background: url(/Content/3.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.third-page-body {
    background: url(/Content/4.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.fourth-page-body {
    background: url(/Content/5.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.fifth-page-body {
    background: url(/Content/mentoring.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.sixth-page-body {
    background: url(/Content/6.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.final-page-body {
    background: url(/Content/7.png) no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    background-color: black;
}

.button-center-begin {
    display: block;
    top: 80%;
    left: 30%;
    position: fixed;
}

.btn.btn-default {
    background-color: black;
    color: #f5f5f5;
    border: 1px;
    border-style: solid;
    border-color: white;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: gotham;
    width: 150px;
}

.first-page-form-group {
    top: 84%;
    left: 24%;
    position: fixed;
    color: #f5f5f5;
}

.first-page-pager {
    top: 90%;
    left: 29%;
    position: fixed;
}

.center-page {
    top: 30%;
    left: 27%;
    position: fixed;
    color: #f5f5f5;
    font-family: gotham;
    font-size: 18px;
}

.second-page-form-group {
    top: 60%;
    left: 14%;
    position: fixed;
    color: #f5f5f5;
}

.second-page-pager {
    top: 66%;
    left: 33%;
    position: fixed;
}

.fifth-page-form-group {
    top: 40%;
    left: 27%;
    position: fixed;
    color: #f5f5f5;
}

.fifth-page-pager {
    top: 50%;
    left: 36%;
    position: fixed;
}

.header {
    position: fixed;
}

.cover {
    overflow: auto;
}

@font-face {
    font-family: 'gotham';
    src: url("../fonts/GothamCondensedLight.otf");
}
